.container {
  display: flex;
  padding: 0;
}
.grow {
  flex-grow: 1;
}
.input-radio:checked,
.input-radio:not(:checked) {
  position: absolute;
  left: -9999px;
}
.input-radio:checked + label,
.input-radio:not(:checked) + label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #ffffff;
}
.input-radio:checked + label:before,
.input-radio:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: linear-gradient(180deg, #414141 0%, #5b5b5b 100%);
}
.input-radio:checked + label:after,
.input-radio:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #22c5e6;
  position: absolute;
  top: 7px;
  left: 3px;
  border-radius: 100%;
}
.input-radio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.input-radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
